<article class="container">
    {{#if data._id}}
    <form id="myForm" method="POST" action="/update" enctype="multipart/form-data">
    <input type="hidden" name="filename" value="{{data.filename}}">
    <input type="hidden" name="_id" value="{{data._id}}">
    {{else}}
        <form id="myForm" method="POST" action="/create/new" enctype="multipart/form-data">
    {{/if}}
    <form id="myForm" method="POST" action="/create/new" enctype="multipart/form-data">
        <fieldset>
            <legend id="1">New Recipe</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="rName">Name</label>
                        <input class="form-control" id="rName" type="text" name="name" placeholder="Enter reipe name" value="{{data.name}}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="rDiff">Difficulty</label>
                        {{#if data.difficulty}}
                        <input type="range" class="form-control" value={{data.difficulty}} min=0 max=5 id="rDiff" name="difficulty">
                        <label id="text">{{data.difficulty}}</label>
                        {{else}}
                        <input type="range" class="form-control" value=0 min=0 max=5 id="rDiff" name="difficulty">
                        <label id="text">0</label>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <!--Text box for directions-->
                    <div class="form-group">
                        <label for="rDirections">Directions:</label>
                        <textarea rows="10" class="form-control" name="directions" id="rDirections" placeholder="Enter recipe instructions here!">{{data.directions}}</textarea>
                    </div>
                </div>
            </div>
            <!--Use Jquery to add a + sign that takes in a new ingredient-->
            <div class="row">
                <button type="button" class="btn btn-outline-info col-md-2" id="newIng">New Ingredient</button>
            </div>
            <div class="newIngredient">
                {{#each data.ingredients}}
                <div class="row">
                    <input class="col-md-3 offset-1 form-control" name="ingredients" style="margin: 1%;" type="text" placeholder="ingredient" value="{{this}}">
                </div>
                {{/each}}
            </div>
            {{#unless data._id}}
            <div class="row">
                <div class="form-group">
                    <input type="file" class="form-control" required name="foodPhoto" />
                </div>
            </div>
            {{/unless}}
            <div class="row">
                {{#if data._id}}
                 <button type="submit" class="btn btn-lg btn-success col-md-2 form-control">Update</button>
                {{else}}
                <button type="submit" class="btn btn-lg btn-success col-md-2 form-control">Submit</button>
                <input type="reset" class="btn btn-sm btn-secondary offset-1 col-md-1 form-control" value="reset">
                {{/if}}
            </div>
        </fieldset>
    </form>
</article>