<article class="container">

<div class="card mb-3">
  <img class="card-img-top" src="{{data.filename}}" alt="{{data.name}} image" style="height: 20%;">
  <div class="card-body">
    <h5 class="card-title">{{data.name}}</h5>
    <div class="card-text">
      <h6>Difficulty: {{data.difficulty}}</h6>
    <p>{{data.directions}}</p>
    </div>
    <h6>Ingredients:</h6>
    <ul>
        {{#each data.ingredients}}
        <li>{{this}} </li>
        {{/each}}
    </ul>
    <div class="row">
      {{#if session.user}}
    <a class="btn btn-outline-info col-md-2 offset-10"  href="/create/random/new">Add to my list</a>
    {{/if}}
    </div>
  </div>
</div>

</article>