<article class="container">

<div class="card mb-3">
  <img class="card-img-top" src="/images/{{data.filename}}" alt="{{data.name}} image">
  <div class="card-body">
    <h5 class="card-title">{{data.name}}</h5>
    <div class="card-text">
      <h6>Difficulty: {{data.difficulty}}</h6>
    <p>{{data.directions}}</p>
    </div>
    <h6>Ingredients:</h6>
    <ul>
        {{#each data.ingredients}}
        <li>{{this}} </li>
        {{/each}}
    </ul>
    <div class="row">
    <a class="btn btn-outline-danger col-md-1 offset-9" href="/delete/{{data._id}}" id="dltButton">Delete</a>
    <a class="btn btn-outline-info col-md-1"  href="/update/{{data._id}}">Update</a>
    </div>
  </div>
</div>

</article>